@font-face {
    font-family: vazir;
    src: url(../icon-font/fonts/Vazir-Regular.ttf);
}
@font-face {
    font-family: salamat;
    src: url(../icon-font/fonts/Salamat.ttf);
}
main{
    padding: 120px 40px 25px 40px;
    direction: rtl;
}
main img{
    width: 90%;
    height: 500px;
    margin-right: 70px;
    margin-bottom: 50px;
}
main p{
    font-family: vazir;
    font-size: 17px;
    line-height: 35px;
    padding: 0 90px;
}